:root {
  --main-font: "Poppins", Helvetica, sans-serif;
  --font-light: 100;
  --font-regular: 400;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--main-font);
}

aside {
  background: linear-gradient(hsl(143, 89%, 48%), hsl(143, 92%, 30%));
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside > img {
  max-height: 400px;
  max-width: 75%;
}

main {
  background-color: hsl(256, 82%, 9%);
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 100px;
  gap: 50px;
}

h1 {
  font-size: 60px;
  color: white;
  padding-bottom: 50px;
  font-weight: var(--font-light);
}

#logo-text {
  color: white;
  font-weight: var(--font-bold);
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

label {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: var(--font-regular);
}

input {
  width: 50%;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  color: white;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--font-bold);
}

button {
  padding: 10px;
  width: 15%;
  background-color: hsl(143, 89%, 48%);
  color: white;
  border: none;
  font-family: var(--main-font);
  font-weight: var(--font-bold);
  font-size: 16px;
  border: 3px solid hsl(143, 89%, 48%);
}

button:hover {
  background: none;
  cursor: pointer;
}
