* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

aside {
  background-color: #0ee660;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside > img {
  height: 500px;
}

main {
  background-color: gray;
  grid-column: 2/4;
}
